* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* 
                                                ...',::ccccc::c:::::;,'...                                                                                      
                                         .,:clodOXNNWWWWWNWWNXNNNNNNXXKK0kxdoc;,..                                                                              
                                   .';ldkKWWNXK0O0KNWNNWMWWWWNNWWNKOO000XXXXWWWWXOxo;'.                                                                         
                               .,lx0XXKKKXNWWX0kxo::clccc::;;;;;:c:;:oodxO0KXNNWWWWWXX0xl,.                                                                     
                            .:d0NXXKKKNNKxol:,...                         ..,:ldkKNWMMMMWNKx:.                                                                  
                           ,0WWWNXXX0xc,.                                        .,cdONMMMMWWK;                                                                 
                           :NWNWWOc'.                                                 'ckXWWMNc                                                                 
                           :NNXWX;        .;loddol;.                  .;loddddoc,.      'OWMMNc                                                                 
                           :XXXWX;     .;xXWNNNWWWWXk:.            .ckXWWWWNK00XN0l.    ,KMMMNc                                                                 
                           :XWNWK;    'okkoc;;:lkXWWMW0c.        .l0WMWWNx:'. ..,lkk:   ,KMMMNc                                                                 
                           :XWWWX;  .:c;.        'xNMWWNO,      .kNNWWNk,          ,dc. ,KMMMNc                                                                 
                           :NMMMX;  ..             ;OWWWWx.     oWWNNKc.            ... ,KMMMNc                                                                 
                           :NMMMX;        ..'''..   .lOOd'      'dOOo'   ..''...        ,KMWMNc                                                                 
                           :NMWMN:     ,lx0XNWNX0kl'                  'lk0XNXXK0ko;.    ,KMWMNc                                                                 
                           ;KWWMN:    .oKNWMMMMMMNKl.                .c0NWWWWMMWNKd.    ,KMMMNc                                                                 
                           ;KNNWX:      .':lodol:,.                    .':lodol:,.      ,KMWMNc                                                                 
                           :XWWWN:                                                      ,KMMMNc                                                                 
                           ;XMMMN:                                                      ,KMMMNc                                                                 
                           ;XMMMX;                                                      ,KMMMNc                                                                 
                           ;XMMMK;                                                      ,KMWMNc                                                                 
                           ;XMMMN:                                                      ,KWNWX:                                                                 
                           ;XMMMN:    .,;.                                      .;;.    ;KX0NX;                                                                 
                           ;XMMMWl     .oOo,            .:oooooo:.            'lkd.     cNXXWK,                                                                 
                           .kMMMM0'     .lXNkc.       .c0WNXXNXNNOl.       .:xXNl.     .kWWWWO.                                                                 
                            :XMMMWk.      :KMWXx;.  .c0WNNNNNNKKXKXOl.  .;dKWWKc       :XNXNNl                                                                  
                             lNMMMWx.      ,0WMMWKOO0XNXXNWWWNNXKOOO0kkO0NWWW0;       ;0NNWNk.                                                                  
                             .oNMMMWO'      'kWMWWMWXKXNNXNKkk0NXXXXX00XXXKKx'       :0XXNWO'                                                                   
                               cXMMMMKc.     .o00OkkxkO00Oo.  .lO00000OO000d.      .oXWWMW0,                                                                    
                                ,OWMMMWk;       .  ... ..        ..........       ,OWWWMWk'                                                                     
                                 .oXMWWMNx;                                     ,xNWWWMXl.                                                                      
                                   ,xNMWWWNk;.           .::::::.             ,xXWWWWNk'                                                                        
                                     ;kNWWWWNOl'         :XWNNNNc          .:kXWWWWNk;                                                                          
                                       ,xXWWWWWXx:.      ;XWNNNWc       .;dKWWNNNXx;.                                                                           
                                         'o0WWWWMWKd;.   :XMMWWWl    .;d0NWWWWWKo'                                                                              
                                           .:xXWWWWWN0dc'lNMMMMWl.'cx0NWMMMWXx:.                                                                                
                                              .ckXWMWXKNXXWMMWMWOONWWNWMWXkc.                                                                                   
                                                 .:xKNWWWWWNNWN0d0NWWK0x:.                                                                                      
                                                    .;lkXWNK0OOdxK0xc'.                                                                                         
                                                         .;lddl,',,.                                                                                             
                                                                                                                   

https://youtu.be/WE1y2TnYfxY 
*/
header {
    width: 100%;
    background: #0481CB;
    color: #ffffff;
    height: 10vh;
    box-shadow: 0px 2px 4px rgb(168, 168, 168);
}
.title {
    font-weight: 100;
    margin-left: 10px;
}
.contenedor_header {
    height: 10vh;
    display: flex;
    margin-left: 10vw;
    align-items: center;
}
header img {
    width: 150px;
    height: 50px;
}

/* Contenedor */
.contenedor {
    width: 80vw;
    margin-left: 5vw;
    border: 2px solid rgb(197, 197, 197);
    padding: 10px 10px;
    margin-bottom: 30vh;
    border-radius: 5px;
    
} .blue {
    width: 100%;
    background-color: #0481CB;
    height: 5px;
    border-radius: 5px;
    margin-top: 5px;
} 

/* Style in the title of the form */
.text h1 {
    color: #005296;
    margin-left: 5vw;
    margin-top: 10vh;
}
/* Style in the inputs */
input {
    width: 90%;
    height: 30px;
    margin-bottom: 10px;
    padding: 6px 12px;
    border: 2px solid rgb(145, 145, 145);
    border-radius: 5px;
    outline: 0;

} input:focus {
    border: none;
    border-top: 2px solid rgb(0, 136, 255);
    border-left:2px solid rgb(0, 136, 255);
    border-bottom: 2px solid rgb(0, 136, 255);
    border-right:2px solid rgb(0, 136, 255); 
    box-shadow: 0px 0px 3px #0481CB;
} p {
    font-weight: 300;
} .name {
    margin-top: 15px;
}
 /*Style in the selects  */
select {
    width: 92%;
    margin-bottom: 10px;
    height: 42px;
    border: 2px solid rgb(126, 125, 125);
    border-radius: 5px;
} select:focus {
    outline-color: #0481CB;
    color: rgb(0, 0, 0);
    border: 2px solid #0481CB;
    border-radius: 5px;
}
/* style in the button */ 
.button {
    text-align: center;
} button {
    background: #005388;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 900;
    border-radius: 5px;
    border: 0;
}button:hover {
    background: #0481CB;
} 
/* footer */
footer {
    background: #CECECE;
} footer img {
    width: 200px;
    margin-left: 10vw;
} 
/* Exito */ 
.exito {
    margin-top: 50px;
    background-color: #29873f;
    text-align: center;
    color: #ffffff;
} .exito img {
    width: 30px;
    display: inline;
    margin-top: 3px;
    filter: invert(100%);
} .exito h1 {
    display: inline;
} .error {
    margin-top: 50px;
    background-color: #c60303;
    text-align: center;
    color: #ffffff;
} .error img {
    width: 30px;
    display: inline;
    margin-top: 3px;
    filter: invert(100%);
} .error h1 {
    display: inline;
} 
/* screen adaptation */
@media  screen and (max-width: 600px) {
   .title {
    font-size: 20px;
   }
}
@media  screen and (max-width: 420px) {
    .title {
        font-size: 20px;
        margin-left: 5px;
    }
    header img {
        width: 125px;
        height: 50px;
    }
    .contenedor_header {
        padding-left: 0px;
        margin-left: 5px;
    }
    .error h1 {
        font-size: 20px;
    } .exito h1 {
        font-size: 20px
    }
    .error img {
        width: 20px; }
        .exito img {
            width: 20px;
        }
}
@media  screen and (max-width: 347px) {
    .title {
        font-size: 14px;
    }
}